<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body class="hold-transition register-page">
  <%- include('../partials/authLang') %>
  <div class="register-box">
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <p class="h1" style="font-size: xx-large;"><b>LiberTeis</b></p>
      </div>
      <div class="card-body">
        <p class="login-box-msg"><%= t("login.title") %></p>
        <form id="loginForm">
          <div class="input-group mb-3">
            <input type="email" class="form-control is-invalid" placeholder="<%= t("common.email") %>" name="email" id="email" required autocomplete="username">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control is-invalid" placeholder="<%= t("common.password") %>" name="password" id="password" required autocomplete="current-password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
              <button type="button" class="btn btn-secondary" onclick="togglePasswordVisibility()">
                <span class="fas fa-eye"></span>
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <button type="button" id="loginButton" class="btn btn-primary btn-block" disabled><%= t("login.button") %></button>
            </div>
            <div class="col-7 text-right">
              <a href="/auth/resetpass" class="btn btn-link"><%= t("login.forgotPassword") %></a>
            </div>
          </div>
        </form>
      </div>
    </div>

    <%- include('../partials/scripts') %>
    <script>
      $(document).ready(function() {
        function validateEmail(email) {
          var emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
          return emailPattern.test(email);
        }

        function validateField(field) {
          var value = field.val().trim();
          if (field.attr('type') === 'email') {
            if (validateEmail(value)) {
              field.removeClass('is-invalid').addClass('is-valid');
            } else {
              field.removeClass('is-valid').addClass('is-invalid');
            }
          } else {
            if (value) {
              field.removeClass('is-invalid').addClass('is-valid');
            } else {
              field.removeClass('is-valid').addClass('is-invalid');
            }
          }
        }

        function toggleLoginButton() {
          var email = $('#email').val().trim();
          var password = $('#password').val().trim();
          if (validateEmail(email) && password) {
            $('#loginButton').prop('disabled', false);
          } else {
            $('#loginButton').prop('disabled', true);
          }
        }

        $('#email, #password').on('input', function() {
          validateField($(this));
          toggleLoginButton();
        });

        toggleLoginButton();

        $('#loginForm').on('keypress', function(e) {
          if (e.which === 13 && !$('#loginButton').prop('disabled')) {
            $('#loginButton').click();
          }
        });

        $("#loginButton").click(function() {
          var email = $('#email').val();
          var password = $('#password').val();

          $.ajax({
            type: "POST",
            url: "/auth/login",
            data: {
              email: email,
              password: password
            },
            success: function(response) {
              $(document).Toasts('create', {
                class: 'bg-success',
                title: '<%= t("login.success.title") %>',
                autohide: true,
                delay: 5000,
                body: '<%= t("login.success.message") %>'
              });

              var lang = response.lang || 'gl';
              setTimeout(function() {
                location.href = `/dash?lang=${lang}`;
              }, 1000);
            },
            error: function(error) {
              if (error.status === 400) {
                location.href = "/auth/changepass";
              } else {
                console.error(error);
                $(document).Toasts('create', {
                  class: 'bg-danger',
                  title: '<%= t("login.error.title") %>',
                  autohide: true,
                  delay: 5000,
                  body: '<%= t("login.error.message") %>'
                });
              }
            }
          });
        });

        function togglePasswordVisibility() {
          var passwordField = document.getElementById("password");
          if (passwordField.type === "password") {
            passwordField.type = "text";
          } else {
            passwordField.type = "password";
          }
        }

        document.querySelector('.btn-secondary').addEventListener('click', togglePasswordVisibility);
      });
    </script>

</body>

</html>