<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body class="hold-transition register-page">
  <%- include('../partials/authLang') %>
  <div class="register-box">
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <a class="h1" style="font-size: xx-large;"><b>LiberTeis</b></a>
      </div>
      <div class="card-body">
        <p class="login-box-msg" id="login-box-msg"><%= t("register.title") %></p>
        <form id="registerForm">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="<%= t("register.name") %>" name="fullname" id="fullname" required autocomplete="name">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="<%= t("register.password") %>" name="password" id="password" required autocomplete="new-password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
              <button type="button" class="btn btn-secondary" onclick="togglePasswordVisibility()">
                <span class="fas fa-eye"></span>
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <button type="submit" class="btn btn-primary btn-block"><%= t("register.button") %></button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <%- include('../partials/scripts') %>
    <script>
      function togglePasswordVisibility() {
        var passwordField = document.getElementById("password");
        if (passwordField.type === "password") {
          passwordField.type = "text";
        } else {
          passwordField.type = "password";
        }
      }
    </script>
</body>

</html>