<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body class="hold-transition sidebar-mini sidebar-collapse layout-fixed layout-footer-fixed">
  <div class="wrapper">
    <div class="preloader flex-column justify-content-center align-items-center">
      <img class="animation__shake" src="/assets/img/logoies.png" height="60" width="60">
    </div>
    <nav class="main-header navbar  navbar-white navbar-light">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
      </ul>
    </nav>
    <%- include('../partials/sidebar') %>
    <div class="content-wrapper">
      <div class="content-header">
        <div class="container-fluid">
          <%- include('../partials/latestVersion') %>
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0"><%= t("sidebar.eventList") %></h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#"><%= t("sidebar.home") %></a></li>
                <li class="breadcrumb-item active"><%= t("sidebar.eventList") %></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <table id="listadoeventos" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th></th>
                        <th><%= t("eventListTable.id") %></th>
                        <th><%= t("eventListTable.dateTime") %></th>
                        <th><%= t("eventListTable.title") %></th>
                        <th><%= t("eventListTable.description") %></th>
                        <th><%= t("eventListTable.category") %></th>
                        <th><%= t("eventListTable.thumbnail") %></th>
                        <th><%= t("eventListTable.qr") %></th>
                        <th><%= t("eventListTable.publishedBy") %></th>
                        <th><%= t("eventListTable.action") %></th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="modal fade" id="imagenModal" tabindex="-1" role="dialog" aria-labelledby="imagenModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="imagenModalLabel"></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <img src="" alt="" style="max-width: 100%;">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="eventModalLabel"><%= t("eventListTable.eventDetails") %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" id="eventModalBody">
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <footer class="main-footer">
    <strong>IES De Teis - Alejandro Verde</strong>
    <div class="float-right d-none d-sm-inline-block">
      <b><%= t("update.version") %> <%= version %></b>
    </div>
  </footer>
  <aside class="control-sidebar control-sidebar-dark">
  </aside>
  </div>
  <%- include('../partials/scripts') %>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      $.ajax({
        url: '/api/list',
        type: 'POST',
        success: function(data) {
          data.forEach(function(evento) {
            var eventDate = new Date(evento.event_date);
            var formattedDate = eventDate.toLocaleString();

            $('#listadoeventos tbody').append(`
        <tr>
          <td><input type="checkbox" class="event-checkbox"></td>
          <td>${evento.id}</td>
          <td>${formattedDate}</td>
          <td>${evento.title}</td>
          <td>${evento.desc}</td>
          <td>${evento.type}</td>
          <td><a href="#" class="modal-link" data-toggle="modal" data-target="#imagenModal" data-src="${evento.thumb_url}" data-type="imagen" data-title="Miniatura"><%= t("eventListTable.clickHere") %></a></td>
          <td><a href="#" class="modal-link" data-toggle="modal" data-target="#imagenModal" data-src="${evento.qr_url}" data-type="qr" data-title="QR Code"><%= t("eventListTable.clickHere") %></a></td>
          <td>${evento.published_by}</td>
          <td>
            <a href="#" class="delete-event" data-id="${evento.id}" title="<%= t("eventListTable.deleteButton") %>"><i class="fas fa-trash"></i></a>
          </td>
        </tr>
      `);
          });

          $('.modal-link').click(function() {
            var src = $(this).data('src');
            var type = $(this).data('type');
            var title = $(this).data('title');

            $('#imagenModalLabel').text(title);

            if (type === 'imagen') {
              $('#imagenModal .modal-body').html(`<img src="${src}" alt="" style="max-width: 100%;">`);
            } else if (type === 'qr') {
              $('#imagenModal .modal-body').html(`<div id="qrcode"></div>`);

              var qrcode = new QRCode(document.getElementById("qrcode"), {
                text: src,
                width: 150,
                height: 150,
                colorDark: "#000000",
                colorLight: "#ffffff",
                correctLevel: QRCode.CorrectLevel.H
              });
            }
          });

          var table = $('#listadoeventos').DataTable({
            "responsive": true,
            "lengthChange": false,
            "pageLength": 20,
            "autoWidth": false,
            "buttons": [{
                extend: 'pdf',
                text: '<%= t("eventListTable.pdfButton") %>',
                exportOptions: {
                  columns: [1, 2, 3, 4, 5, 8]
                }
              },
              {
                extend: 'excel',
                text: '<%= t("eventListTable.excelButton") %>',
                exportOptions: {
                  columns: [1, 2, 3, 4, 5, 8]
                }
              },
              {
                extend: 'print',
                text: '<%= t("eventListTable.printButton") %>',
                exportOptions: {
                  columns: [1, 2, 3, 4, 5, 8]
                }
              },
              {
                text: '<%= t("eventListTable.delSelection") %>',
                className: 'btn-danger buttons-html5',
                action: function() {
                  var selectedEvents = [];

                  // Obtener eventos seleccionados
                  $('.event-checkbox:checked').each(function() {
                    selectedEvents.push($(this).closest('tr').find('.delete-event').data('id'));
                  });

                  if (selectedEvents.length > 0) {
                    openRemoveEventForm();
                  } else {
                    $(document).Toasts('create', {
                      class: 'bg-danger',
                      title: '<%= t("eventListTable.error.title") %>',
                      autohide: true,
                      delay: 5000,
                      body: '<%= t("eventListTable.error.noSelected") %>'
                    })
                  }

                  function openRemoveEventForm() {
                    $('#eventModal').modal('show');
                    $('#eventModalLabel').text('<%= t("eventListTable.modal.title") %>');
                    $('#eventModalBody').html(
                      '<form id="removeEventForm">' +
                      '  <p class="text-danger"><%= t("eventListTable.modal.question") %></p>' +
                      '<br><div class="d-flex justify-content-between">' +
                      '<button type="button" class="btn btn-primary" id="closeModalButton"><%= t("eventListTable.modal.cancel") %></button>' +
                      '<button type="submit" class="btn btn-danger"><%= t("eventListTable.modal.delete") %></button>' +
                      '</div>' +
                      '</form>'
                    );

                    $('#closeModalButton').on('click', function() {
                      $('#eventModal').modal('hide');
                    });

                    $('#removeEventForm').submit(function() {
                      event.preventDefault();
                      console.log(selectedEvents)
                      selectedEvents.forEach(function(eventId) {
                        $.ajax({
                          url: '/api/delete',
                          type: 'POST',
                          data: {
                            eventID: eventId
                          },
                          success: function(data) {
                            $('#eventModal').modal('hide');
                            $(document).Toasts('create', {
                              class: 'bg-success',
                              title: '<%= t("eventListTable.success.title") %>',
                              autohide: true,
                              delay: 5000,
                              body: '<%= t("eventListTable.success.message") %>'
                            });
                            setTimeout(function() {
                              location.reload(true);
                            }, 1000);
                          },
                          error: function(error) {
                            $('#eventModal').modal('hide');
                            $(document).Toasts('create', {
                              class: 'bg-danger',
                              title: '<%= t("eventListTable.error.title") %>',
                              autohide: true,
                              delay: 5000,
                              body: '<%= t("eventListTable.error.message") %>'
                            });
                          }
                        });
                      });
                    });

                    $('#eventModal').modal('show');
                  }
                }
              }
            ],
            order: [
              [2, 'asc']
            ],

            language: {
              url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json',
            },
            initComplete: function() {
              setTimeout(function() {
                table.buttons().container().appendTo('#listadoeventos_wrapper .col-md-6');
                $('#listadoeventos_filter').next().remove();
              }, 10);
            }
          })

        },
        error: function(error) {}
      });

      $('#listadoeventos').on('click', '.delete-event', function() {
        var eventId = $(this).data('id');

        $('#eventModal').modal('show');
        $('#eventModalLabel').text('<%= t("eventListTable.modal2.title") %>');
        $('#eventModalBody').html(
          '<form id="removeEventForm">' +
          '  <p class="text-danger"><%= t("eventListTable.modal2.question") %> ' + eventId + '?</p>' +
          '<br><div class="d-flex justify-content-between">' +
          '<button type="button" class="btn btn-primary" id="closeModalButton"><%= t("eventListTable.modal2.cancel") %></button>' +
          '<button type="submit" class="btn btn-danger"><%= t("eventListTable.modal2.delete") %></button>' +
          '</div>' +
          '</form>'
        );

        $('#closeModalButton').on('click', function() {
          $('#eventModal').modal('hide');
        });

        $('#removeEventForm').submit(function() {
          event.preventDefault();

          $.ajax({
            url: '/api/delete',
            type: 'POST',
            data: {
              eventID: eventId
            },
            success: function(data) {
              $('#eventModal').modal('hide');
              $('#eventModal').modal('hide');
              $(document).Toasts('create', {
                class: 'bg-success',
                title: '<%= t("eventListTable.success.title") %>',
                autohide: true,
                delay: 5000,
                body: '<%= t("eventListTable.success.message") %>'
              });
              setTimeout(function() {
                location.reload(true);
              }, 1000);
            },
            error: function(error) {
              $('#eventModal').modal('hide');
              $(document).Toasts('create', {
                class: 'bg-danger',
                title: '<%= t("eventListTable.error.title") %>',
                autohide: true,
                delay: 5000,
                body: '<%= t("eventListTable.error.message") %>'
              });
            }
          });
        });

        $('#eventModal').modal('show');
      });

    });
  </script>
</body>

</html>