<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body class="hold-transition sidebar-collapse sidebar-mini layout-fixed">
  <div class="wrapper">
    <div class="preloader flex-column justify-content-center align-items-center">
      <img class="animation__shake" src="/assets/img/logoies.jpg" height="60" width="60">
    </div>
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
      </ul>
    </nav>
    <%- include('../partials/sidebar') %>
    <div class="content-wrapper">
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0"><%= t("sidebar.home") %></h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#"><%= t("sidebar.home") %></a></li>
                <li class="breadcrumb-item active"><%= t("sidebar.mainView") %></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <section class="content">
        <div class="container-fluid">
          <%- include('../partials/latestVersion') %>
          <div class="row">
            <div class="col-lg-4 col-4">
              <div class="small-box bg-info">
                <div class="inner">
                  <h3>150</h3>
                  <p><%= t("eventCards.card1") %></p>
                </div>
                <div class="icon">
                  <i class="fas fa-theater-masks"></i>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-4">
              <div class="small-box bg-warning">
                <div class="inner">
                  <h3>150</h3>
                  <p><%= t("eventCards.card2") %></p>
                </div>
                <div class="icon">
                  <i class="fas fa-theater-masks"></i>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-4">
              <div class="small-box bg-success">
                <div class="inner">
                  <h3>150</h3>
                  <p><%= t("eventCards.card3") %></p>
                </div>
                <div class="icon">
                  <i class="fas fa-theater-masks"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-50">
            <div class="card card-primary">
              <div class="card-body p-0">
                <div id="calendar"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="eventModalLabel"><%= t("detailsModal.title") %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" id="eventModalBody">
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer class="main-footer">
      <strong>IES De Teis - Alejandro Verde</strong>
      <div class="float-right d-none d-sm-inline-block">
        <b><%= t("update.version") %> <%= version %></b>
      </div>
    </footer>
    <aside class="control-sidebar control-sidebar-dark">
    </aside>
  </div>
  <%- include('../partials/scripts') %>
  <script>
    document.addEventListener('DOMContentLoaded', function() {

      // Función para abrir el formulario de borrar un evento
      function openRemoveEventForm(event) {
        $('#eventModal').modal('show');
        $('#eventModalLabel').text('<%= t("removeEventForm.title") %>');
        $('#eventModalBody').html(
          '<form id="removeEventForm">' +
          '  <p class="text-danger"><%= t("removeEventForm.question") %> <strong>' + event.title + '</strong>?</p>' +
          '<br><div class="d-flex justify-content-between">' +
          '<button type="button" class="btn btn-primary" id="closeModalButton"><%= t("removeEventForm.cancel") %></button>' +
          '<button type="submit" class="btn btn-danger"><%= t("removeEventForm.button") %></button>' +
          '</div>' +
          '</form>'
        );

        $('#closeModalButton').on('click', function() {
          $('#eventModal').modal('hide');
        });

        $('#removeEventForm').data('eventId', event.id);

        $('#removeEventForm').submit(function(event) {
          event.preventDefault();
          var eventId = $(this).data('eventId');
          removeEvent(eventId);
        });

        $('#eventModal').modal('show');
      }

      // Función para eliminar un evento
      function removeEvent(eventId) {
        $.ajax({
          url: '/api/delete',
          type: 'POST',
          data: {
            eventID: eventId
          },
          success: function(data) {
            $('#eventModal').modal('hide');
            setTimeout(function() {
              location.reload(true);
            }, 1000);
          },
          error: function(error) {
            alert('<%= t("removeEventForm.error.title") %>');
          }
        });
      }

      // Función para abrir el formulario de edición de eventos
      function openEditEventForm(event) {
        $('#eventModal').modal('show');
        $('#eventModalLabel').text('<%= t("editEventForm.title") %>');

        var currentCategory = event.extendedProps.type;
        var categoryOptions = '';
        ['General', 'Espacio Maker'].forEach(function(category) {
          // Agregar 'selected' si la categoría coincide con la categoría actual del evento
          var selectedAttribute = category === currentCategory ? 'selected' : '';

          categoryOptions += '<option value="' + category + '" ' + selectedAttribute + '>' + category + '</option>';
        });


        $('#eventModalBody').html(
          '<form id="editEventForm">' +
          '  <div class="form-group">' +
          '    <label for="editEventTitle"><%= t("editEventForm.eventTitle") %>:</label>' +
          '    <input type="text" class="form-control" id="editEventTitle" value="' + event.title + '" required maxlength=60>' +
          '  </div>' +
          '  <div class="form-group">' +
          '    <label for="editEventDescription"><%= t("editEventForm.eventDescription") %>:</label>' +
          '    <textarea class="form-control" id="editEventDescription" rows="3" minlength=100 maxlength=400 required>' + event.extendedProps.description + '</textarea>' +
          '  </div>' +
          '  <div class="form-group">' +
          '    <label for="editEventDate"><%= t("editEventForm.eventDate") %>:</label>' +
          '    <input type="datetime-local" class="form-control" id="editEventDate" value="' + moment(event.start).format('YYYY-MM-DDTHH:mm') + '" required>' +
          '  </div>' +
          '  <div class="form-group">' +
          '    <label for="editEventCategory"><%= t("editEventForm.eventCategory") %>:</label>' +
          '    <select class="form-control" id="editEventCategory" required>' +
          '       ' + categoryOptions +
          '    </select>' +
          '  </div>' +
          '  <div class="form-group" style="display: none;">' +
          '    <label for="editEventThumbUrl"><%= t("editEventForm.thumbnailURL") %>:</label>' +
          '    <input type="text" class="form-control" id="editEventThumbUrl" value="' + event.extendedProps.thumb_url + '">' +
          '  </div>' +
          '  <div class="form-group" style="display: none;">' +
          '    <label for="editEventQrUrl"><%= t("editEventForm.qrUrl") %>:</label>' +
          '    <input type="text" class="form-control" id="editEventQrUrl" value="' + event.extendedProps.qr_url + '">' +
          '  </div>' +
          '   <label for="editEventPublishedBy"><%= t("editEventForm.thumbnail") %>:</label>' +
          '   <p class="text-warning"><%= t("editEventForm.warning") %></p>' +
          '  <button type="submit" id="editEventButton" class="btn btn-primary"><%= t("editEventForm.button") %></button>' +
          '</form>'
        );

        $('#editEventDescription').on('blur', function() {
          var descriptionLength = $(this).val().length;
          if (descriptionLength < 100 || descriptionLength > 400) {
            $('#editEventButton').prop('disabled', true);
          } else {
            $('#editEventButton').prop('disabled', false);
          }
        });

        $('#editEventForm').data('eventId', event.id);

        $('#editEventForm').submit(function(event) {
          console.log($(this).data('eventId'))
          event.preventDefault();
          var eventId = $(this).data('eventId');
          saveEditedEvent(eventId);
        });

        $('#eventModal').modal('show');
      }

      // Función para guardar los cambios en un evento editado
      function saveEditedEvent(eventId) {
        var title = $('#editEventTitle').val();
        var description = $('#editEventDescription').val();
        var category = $('#editEventCategory').val();
        var thumbUrl = $('#editEventThumbUrl').val();
        var qrUrl = $('#editEventQrUrl').val();
        var publishedBy = "<%= loggedInUsername %>"
        var eventDate = $('#editEventDate').val();

        $.ajax({
          url: '/api/edit/',
          type: 'POST',
          data: {
            id: eventId,
            title: title,
            desc: description,
            event_date: eventDate,
            type: category,
            thumb_url: thumbUrl,
            qr_url: qrUrl,
            published_by: publishedBy
          },
          success: function(data) {
            $('#eventModal').modal('hide');
            setTimeout(function() {
              location.reload(true);
            }, 1000);
          },
          error: function(error) {
            alert('t("editEventForm.error.message") %>');
          }
        });
      }

      function openCloneEventForm(event) {
        $('#eventModal').modal('show');
        $('#eventModalLabel').text('<%= t("cloneEventForm.title") %>');

        var currentCategory = event.extendedProps.type;
        var categoryOptions = '';
        ['General', 'Espacio Maker'].forEach(function(category) {
          var selectedAttribute = category === currentCategory ? 'selected' : '';
          categoryOptions += '<option value="' + category + '" ' + selectedAttribute + '>' + category + '</option>';
        });

        $('#eventModalBody').html(
          '<form id="cloneEventForm">' +
          '  <div class="form-group">' +
          '    <label for="cloneEventTitle"><%= t("cloneEventForm.eventTitle") %>:</label>' +
          '    <input type="text" class="form-control" id="cloneEventTitle" value="' + event.title + '" required maxlength=60>' +
          '  </div>' +
          '  <div class="form-group">' +
          '    <label for="cloneEventDescription"><%= t("cloneEventForm.eventDescription") %>:</label>' +
          '     <textarea class="form-control" id="cloneEventDescription" rows="3" minlength=100 maxlength=400 required>' + event.extendedProps.description + '</textarea>' +
          '  </div>' +
          '  <div class="form-group">' +
          '    <label for="cloneEventDate"><%= t("cloneEventForm.eventDate") %>:</label>' +
          '    <input type="datetime-local" class="form-control" id="cloneEventDate" value="' + moment(event.start).format('YYYY-MM-DDTHH:mm') + '" required>' +
          '  </div>' +
          '  <div class="form-group">' +
          '    <label for="cloneEventCategory"><%= t("cloneEventForm.eventCategory") %>:</label>' +
          '    <select class="form-control" id="cloneEventCategory" required>' +
          '       ' + categoryOptions +
          '    </select>' +
          '  </div>' +
          '  <div class="form-group" style="display: none;">' +
          '    <label for="cloneEventThumbUrl"><%= t("cloneEventForm.thumbnailURL") %>:</label>' +
          '    <input type="text" class="form-control" id="cloneEventThumbUrl" value="' + event.extendedProps.thumb_url + '">' +
          '  </div>' +
          '   <label for="cloneEventAlert"><%= t("cloneEventForm.thumbnail") %>:</label>' +
          '   <p class="text-warning"><%= t("cloneEventForm.warning") %></p>' +
          '  <button type="submit" id="cloneEventButton" class="btn btn-warning"><%= t("eventForm.clone") %></button>' +
          '</form>'
        );

        $('#cloneEventDescription').on('blur', function() {
          var descriptionLength = $(this).val().length;
          if (descriptionLength < 100 || descriptionLength > 400) {
            $('#cloneEventButton').prop('disabled', true);
          } else {
            $('#cloneEventButton').prop('disabled', false);
          }
        });

        $('#cloneEventForm').data('eventId', event.id);

        $('#cloneEventForm').submit(function(event) {
          event.preventDefault();
          var title = $('#cloneEventTitle').val();
          var description = $('#cloneEventDescription').val();
          var category = $('#cloneEventCategory').val();
          var thumbUrl = $('#cloneEventThumbUrl').val();
          var publishedBy = "<%= loggedInUsername %>"
          var eventDate = $('#cloneEventDate').val();

          $.ajax({
            url: '/api/add',
            type: 'POST',
            data: {
              title: title,
              desc: description,
              event_date: eventDate,
              type: category,
              thumb_url: thumbUrl,
              published_by: publishedBy,
            },
            success: function(data) {
              setTimeout(function() {
                location.reload(true);
              }, 1000);
            },
            error: function(error) {
              alert('<%= t("cloneEventForm.error.message") %>');
            }
          });
        });

        $('#eventModal').modal('show');
      }

      // Función que maneja el calendario y casi todo lo relacionado con él, carga los eventos en el calendario, los añade si haces click y etc
      $.ajax({
        url: '/api/list',
        type: 'POST',
        success: function(data) {
          var totalEvents = data.length;
          $('.bg-info .inner h3').text(totalEvents);

          var currentDate = new Date();

          var pastEvents = data.filter(function(event) {
            return new Date(event.event_date) < currentDate;
          });
          $('.bg-success .inner h3').text(pastEvents.length);

          var futureEvents = data.filter(function(event) {
            return new Date(event.event_date) > currentDate;
          });
          $('.bg-warning .inner h3').text(futureEvents.length);

          var calendarEl = document.getElementById('calendar');
          var calendar = new FullCalendar.Calendar(calendarEl, {
            buttonText: {
              prev: '<%= t("calendar.prev") %>',
              next: '<%= t("calendar.next") %>',
              today: '<%= t("calendar.today") %>',
              month: '<%= t("calendar.month") %>',
              week: '<%= t("calendar.week") %>',
              day: '<%= t("calendar.day") %>',
              list: '<%= t("calendar.list") %>',
            },
            viewHint(buttonText) {
              return '<%= t("calendar.view") %>' + (buttonText === '<%= t("calendar.week") %> ' ? '<%= t("calendar.ofThe") %>' : '<%= t("calendar.of") %>') + ' ' + buttonText.toLocaleLowerCase()
            },
            weekText: '<%= t("calendar.weekText") %>',
            weekTextLong: '<%= t("calendar.weekTextLong") %>',
            allDayText: '<%= t("calendar.allDayText") %>',
            moreLinkText: '<%= t("calendar.more") %>',
            moreLinkHint(eventCnt) {
              return `<%= t("calendar.show") %> ${eventCnt} <%= t("calendar.moreEvents") %>`
            },
            noEventsText: '<%= t("calendar.noEventsText") %>',
            navLinkHint: '<%= t("calendar.navLinkHint") %>',
            closeHint: '<%= t("calendar.closeHint") %>',
            timeHint: '<%= t("calendar.timeHint") %>',
            eventHint: '<%= t("calendar.eventHint") %>',
            locale: '<%= t("calendar.locale") %>',
            firstDay: 1,
            headerToolbar: {
              left: 'prev,next,today',
              center: 'title',
              right: 'dayGridMonth,timeGridWeek'
            },
            themeSystem: 'bootstrap',
            events: data.map(function(event) {
              return {
                id: event.id,
                title: event.title,
                start: event.event_date,
                description: event.desc,
                type: event.type,
                thumb_url: event.thumb_url,
                qr_url: event.qr_url,
                published_by: event.published_by
              };
            }),
            eventClick: function(info) {
              function obtenerDia(fecha) {
                <% if (lang === 'es') { %>
                const diasSemana = ["Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"];
                <% } else if (lang === 'gl') { %>
                const diasSemana = ["Domingo", "Luns", "Martes", "Mércores", "Xoves", "Venres", "Sábado"];
                <% } else if (lang === 'en') { %>
                const diasSemana = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
                <% } %>
                const fechaObj = new Date(fecha);
                const diaSemana = fechaObj.getDay();
                return diasSemana[diaSemana];
              }
              var formattedDate = obtenerDia(info.event.start) + ', ' + moment(info.event.start).format('MM/DD/YYYY, HH:mm');

              var eventDetails = '<strong><%= t("eventForm.title") %>:</strong><br>' + info.event.title +
                '<br><br><strong><%= t("eventForm.date") %>:</strong><br>' + formattedDate +
                '<br><br><strong><%= t("eventForm.description") %>:</strong><br>' + info.event.extendedProps.description +
                '<br><br><strong><%= t("eventForm.category") %>:</strong><br>' + info.event.extendedProps.type +
                '<br><br><strong><%= t("eventForm.thumbnail") %>:</strong><br><img src="' + info.event.extendedProps.thumb_url + '" alt="Miniatura del evento" style="max-width: 75%;">' +
                '<br><br><strong><%= t("eventForm.qrUrl") %>:</strong><br><div id="qrcode"></div>' +
                '<br><br><strong><%= t("eventForm.addedBy") %>:</strong><br>' + info.event.extendedProps.published_by +
                '<br><br><div class="d-flex justify-content-between">' +
                '<button type="button" class="btn btn-primary" id="editEventButton"><%= t("eventForm.edit") %></button>' +
                '<button type="button" class="btn btn-warning" id="cloneEventButton"><%= t("eventForm.clone") %></button>' +
                '<button type="button" class="btn btn-danger" id="removeEventButton"><%= t("eventForm.remove") %></button>' +
                '</div>';

              $('#eventModalLabel').text('<%= t("eventForm.formTitle") %>');
              $('#eventModalBody').html(eventDetails);

              var qrcode = new QRCode(document.getElementById("qrcode"), {
                text: info.event.extendedProps.qr_url,
                width: 150,
                height: 150,
                colorDark: "#000000",
                colorLight: "#ffffff",
                correctLevel: QRCode.CorrectLevel.H
              });

              $('#editEventButton').on('click', function() {
                openEditEventForm(info.event);
              });

              $('#removeEventButton').on('click', function() {
                openRemoveEventForm(info.event);
              });

              $('#cloneEventButton').on('click', function() {
                openCloneEventForm(info.event);
              });

              $('#eventModal').modal('show');
            },
            dateClick: function(info) {
              var formattedDate = moment(info.date).format('YYYY-MM-DDTHH:mm');
              $('#eventModalLabel').text('<%= t("newEventForm.title") %>');
              $('#eventModalBody').html(
                '<form id="createEventForm">' +
                '  <div class="form-group">' +
                '    <label for="eventTitle"><%= t("newEventForm.eventTitle") %>:</label>' +
                '    <input type="text" class="form-control" id="eventTitle" required maxlength=60>' +
                '  </div>' +
                '  <div class="form-group">' +
                '    <label for="eventDescription"><%= t("newEventForm.eventDescription") %>:</label>' +
                '    <textarea class="form-control" id="eventDescription" rows="3" minlength=100 maxlength=400 required></textarea>' +
                '  </div>' +
                '  <div class="form-group">' +
                '    <label for="eventDate"><%= t("newEventForm.eventDate") %>:</label>' +
                '    <input type="datetime-local" class="form-control" id="eventDate" value="' + formattedDate + '" required>' +
                '  </div>' +
                '  <div class="form-group">' +
                '    <label for="eventCategory"><%= t("newEventForm.eventCategory") %>:</label>' +
                '    <select class="form-control" id="eventCategory" required>' +
                '       <option value="General">General</option>' +
                '       <option value="Espacio Maker">Espacio Maker</option>' +
                '    </select>' +
                '  </div>' +
                '</form>' +

                '<form id="uploadThumbnailForm" enctype="multipart/form-data">' +
                '  <div class="form-group">' +
                '     <label for="eventThumb"><%= t("newEventForm.thumbnail") %>:</label>' +
                '     <input type="file" class="form-control-file" id="eventThumb" name="thumbnailfile" accept="image/*">' +
                '  </div>' +
                '  <button type="submit" id="saveEventButton" class="btn btn-primary" disabled><%= t("newEventForm.button") %></button>' +
                '</form>'
              );

              $('#eventDescription').on('blur', function() {
                var descriptionLength = $(this).val().length;
                if (descriptionLength < 100 || descriptionLength > 400) {
                  $('#saveEventButton').prop('disabled', true);
                } else {
                  $('#saveEventButton').prop('disabled', false);
                }
              });


              $('#eventModal').modal('show');

              $('#uploadThumbnailForm').submit(function(event) {
                event.preventDefault();

                var formData = new FormData();
                formData.append('thumbnailfile', $('#eventThumb')[0].files[0]);

                $.ajax({
                  url: '/api/upload',
                  type: 'POST',
                  data: formData,
                  processData: false,
                  contentType: false,
                  success: function(data) {
                    var thumbUrl = data.url;
                    var title = $('#eventTitle').val();
                    var description = $('#eventDescription').val();
                    var publishedBy = $('#eventPublishedBy').val();
                    var eventDate = $('#eventDate').val();
                    var category = $('#eventCategory').val();

                    $.ajax({
                      url: '/api/add',
                      type: 'POST',
                      data: {
                        title: title,
                        desc: description,
                        event_date: eventDate,
                        type: category,
                        published_by: "<%= loggedInUsername %>",
                        thumb_url: thumbUrl
                      },
                      success: function(data) {
                        console.log('Evento añadido con éxito:', data);
                        setTimeout(function() {
                          location.reload(true);
                        }, 1000);
                      },
                      error: function(error) {
                        alert('<%= t("newEventForm.error.message") %>');
                      }
                    });
                  },
                  error: function(error) {
                    alert('<%= t("newEventForm.error.thumbnail") %>');
                  }
                });
              });
            }
          });

          calendar.render();
        },
        error: function() {
          console.error('<%= t("newEventForm.errorLoading") %>');
        }
      });
    });
  </script>
</body>

</html>