<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body class="hold-transition sidebar-mini layout-fixed layout-footer-fixed">
  <div class="wrapper">
    <div class="preloader flex-column justify-content-center align-items-center">
      <img class="animation__shake" src="/assets/img/logoies.jpg" height="60" width="60">
    </div>
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
      </ul>
    </nav>
    <%- include('../partials/sidebar') %>
    <div class="content-wrapper">
      <div class="content-header">
        <div class="container-fluid">
          <% if (latestVersion === false && loggedInType === 'adminUser') { %>
          <div class="alert alert-danger alert-dismissible" id="updateAvaliable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h5><i class="icon fas fa-tag"></i> Nueva versión disponible!</h5>
            Una nueva versión del software está disponible. Por favor, contacta con el administrador para que lo actualice siguiendo las <a href="https://github.com/AlexDeveloperUwU/liberteis/wiki/Actualizaci%C3%B3n">instrucciones</a>
          </div>
          <% } %>
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">Listado de usuarios</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                <li class="breadcrumb-item active">Listado de usuarios</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <table id="listadousuarios" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th></th>
                        <th>Nombre</th>
                        <th>E-Mail</th>
                        <th>Tipo de user</th>
                        <th>Última sesión</th>
                        <th>Creado por</th>
                        <th>Fecha de registro</th>
                        <th>Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="userModalLabel">Detalles del usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" id="userModalBody">
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="modal fade" id="changelogModal" tabindex="-1" role="dialog" aria-labelledby="changelogModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="changelogModalLabel">Changelog</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="log-wrapper"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <footer class="main-footer">
    <strong>IES De Teis - Alejandro Verde</strong>
    <div class="float-right d-none d-sm-inline-block">
      <b>Versión <%= version %></b>
    </div>
  </footer>
  <aside class="control-sidebar control-sidebar-dark">
  </aside>
  </div>
  <%- include('../partials/scripts') %>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      $.ajax({
        url: '/auth/list',
        type: 'POST',
        success: function(data) {
          data.forEach(function(user) {
            if (user.type === 'adminUser') {
              user.type = 'Administrador';
            } else if (user.type === 'normalUser') {
              user.type = 'Usuario';
            }

            var loggedInUserEmail = "<%= loggedInEmail %>";

            var createdDate = new Date(user.createdDate);
            var formattedDate = createdDate.toLocaleString();

            if (user.lastLogin === null) {
              lastLoginFormattedDate = 'Nunca';
            } else {
              var createdDate2 = new Date(user.lastLogin);
              var lastLoginFormattedDate = createdDate2.toLocaleString();
            }

            $('#listadousuarios tbody').append(`
        <tr>
          <td><input type="checkbox" class="user-checkbox"></td>
          <td>${user.fullname}</td>
          <td>${user.email}</td>
          <td>${user.type}</td>
          <td>${lastLoginFormattedDate}</td>
          <td>${user.createdBy}</td>
          <td>${formattedDate}</td>
          <td>
            <a href="#" class="delete-user" data-id="${user.email}" title="Eliminar" id="deletebutton"><i class="fas fa-trash"></i></a>          </td>
        </tr>
      `);

            if (loggedInUserEmail === user.email) {
              $('.delete-user').last().remove();
            }

            if (user.createdBy === 'SYSTEM') {
              $('.delete-user').last().remove();
              $('.user-checkbox').last().remove();
            }
          });

          var table = $('#listadousuarios').DataTable({
            "responsive": true,
            "lengthChange": false,
            "pageLength": 20,
            "autoWidth": false,
            "buttons": [{
                extend: 'excel',
                text: 'Exportar Excel',
                exportOptions: {
                  columns: [1, 2, 3, 4, 5]
                }
              },
              {
                extend: 'print',
                text: 'Imprimir',
                exportOptions: {
                  columns: [1, 2, 3, 4, 5]
                }
              },
              {
                text: 'Crear usuario',
                className: 'btn-primary buttons-html5',
                action: function() {
                  openCreateUserForm();

                  function openCreateUserForm() {
                    $('#userModal').modal('show');
                    $('#userModalLabel').text('Crear usuario');
                    $('#userModalBody').html(
                      '<form id="createUserForm">' +
                      '  <div class="form-group">' +
                      '    <label for="userEmail">E-Mail</label>' +
                      '    <input type="email" class="form-control" id="userEmail" placeholder="E-Mail" required>' +
                      '  </div>' +
                      '  <div class="form-group">' +
                      '    <label for="userFullname">Nombre</label>' +
                      '    <input type="text" class="form-control" id="userFullname" placeholder="Nombre" required>' +
                      '  </div>' +
                      '  <div class="form-group">' +
                      '    <label for="userType">Tipo de usuario</label>' +
                      '    <select class="form-control" id="userType" required>' +
                      '      <option value="normalUser">Usuario</option>' +
                      '      <option value="adminUser">Administrador</option>' +
                      '    </select>' +
                      '  </div>' +
                      '<br><div class="d-flex justify-content-between">' +
                      '<button type="button" class="btn btn-primary" id="closeModalButton">Cancelar</button>' +
                      '<button type="submit" class="btn btn-success">Crear usuario</button>' +
                      '</div>' +
                      '</form>'
                    );

                    $('#closeModalButton').on('click', function() {
                      $('#userModal').modal('hide');
                    });

                    $('#createUserForm').submit(function() {
                      event.preventDefault();

                      var userEmail = $('#userEmail').val();
                      var userFullname = $('#userFullname').val();
                      var userType = $('#userType').val();
                      var userCreatedBy = "<%= loggedInUsername %>"

                      $.ajax({
                        url: '/auth/register',
                        type: 'POST',
                        data: {
                          fullname: userFullname,
                          email: userEmail,
                          password: "Cambiame123",
                          type: userType,
                          createdBy: userCreatedBy
                        },
                        success: function(data) {
                          console.log('Usuario creado con éxito:', data);
                          $('#userModal').modal('hide');
                          setTimeout(function() {
                            location.reload(true);
                          }, 1000);
                        },
                        error: function(error) {
                          console.error('Error al crear el usuario:', error);
                          alert('Error al crear el usuario. Por favor, inténtalo de nuevo.');
                        }
                      });
                    });

                    $('#userModal').modal('show');
                  }
                }
              },
              {
                text: 'Borrar selección',
                className: 'btn-danger buttons-html5',
                action: function() {
                  var selectedUsers = [];

                  $('.user-checkbox:checked').each(function() {
                    selectedUsers.push($(this).closest('tr').find('.delete-user').data('id'));
                  });

                  if (selectedUsers.length > 0) {
                    openRemoveUserForm();
                  } else {
                    $(document).Toasts('create', {
                      class: 'bg-danger',
                      title: 'Ha ocurrido un error',
                      autohide: true,
                      delay: 5000,
                      body: 'No has seleccionado ningún usuario para eliminar'
                    })
                  }

                  function openRemoveUserForm() {
                    $('#userModal').modal('show');
                    $('#userModalLabel').text('Eliminar usuarios');
                    $('#userModalBody').html(
                      '<form id="removeUserForm">' +
                      '  <p class="text-danger">¿Estás seguro de que quieres eliminar los usuarios seleccionados?</p>' +
                      '<br><div class="d-flex justify-content-between">' +
                      '<button type="button" class="btn btn-primary" id="closeModalButton">Cancelar</button>' +
                      '<button type="submit" class="btn btn-danger">Eliminar usuarios</button>' +
                      '</div>' +
                      '</form>'
                    );

                    $('#closeModalButton').on('click', function() {
                      $('#userModal').modal('hide');
                    });

                    $('#removeUserForm').submit(function() {
                      event.preventDefault();
                      selectedUsers.forEach(function(userEmail) {
                        $.ajax({
                          url: '/auth/unregister',
                          type: 'POST',
                          data: {
                            email: userEmail
                          },
                          success: function(data) {
                            console.log('Usuario eliminado con éxito:', data);
                            $('#userModal').modal('hide');
                            setTimeout(function() {
                              location.reload(true);
                            }, 1000);
                          },
                          error: function(error) {
                            console.error('Error al eliminar el usuario:', error);
                            alert('Error al eliminar el usuario. Por favor, inténtalo de nuevo.');
                          }
                        });
                      });
                    });

                    $('#userModal').modal('show');
                  }
                }
              }
            ],
            order: [
              [1, 'asc']
            ],

            language: {
              url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json',
            },
            initComplete: function() {
              setTimeout(function() {
                table.buttons().container().appendTo('#listadousuarios_wrapper .col-md-6');
                $('#listadousuarios_filter').next().remove();
              }, 10);
            }
          })

          $('#listadousuarios tbody').on('click', '.delete-user', function() {
            var userEmail = $(this).data('id');
            openRemoveUserForm(userEmail);

            function openRemoveUserForm(userEmail) {
              $('#userModal').modal('show');
              $('#userModalLabel').text('Eliminar usuario');
              $('#userModalBody').html(
                '<form id="removeUserForm">' +
                '  <p class="text-danger">¿Estás seguro de que quieres eliminar el usuario ' + userEmail + '?</p>' +
                '<br><div class="d-flex justify-content-between">' +
                '<button type="button" class="btn btn-primary" id="closeModalButton">Cancelar</button>' +
                '<button type="submit" class="btn btn-danger">Eliminar usuario</button>' +
                '</div>' +
                '</form>'
              );

              $('#closeModalButton').on('click', function() {
                $('#userModal').modal('hide');
              });

              $('#removeUserForm').submit(function() {
                event.preventDefault();

                $.ajax({
                  url: '/auth/unregister',
                  type: 'POST',
                  data: {
                    email: userEmail
                  },
                  success: function(data) {
                    console.log('Usuario eliminado con éxito:', data);
                    $('#userModal').modal('hide');
                    setTimeout(function() {
                      location.reload(true);
                    }, 1000);
                  },
                  error: function(error) {
                    console.error('Error al eliminar el usuario:', error);
                    alert('Error al eliminar el usuario. Por favor, inténtalo de nuevo.');
                  }
                });
              });

              $('#userModal').modal('show');
            }
          });
        },
        error: function(error) {
          console.error('Error al obtener la lista de usuarios:', error);
        }
      });
    });
  </script>
</body>

</html>